.active {
  color: var(--color-green);
}

.inactive {
  color: var(--color-red);
}

.active,
.inactive {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  width: 1rem;
  height: 1rem;
}
