.container {
  display: flex;
  gap: 1rem;
}

.picture {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.name,
.username {
  margin-top: 0;
  margin-bottom: 0;
}

.username {
  color: var(--color-gray);
  font-size: 14px;
}
