.wrapper {
  position: relative;
  width: 100%;
}

.input {
  padding: 0.5rem 1rem;
  padding-left: 2.5rem;
  border-radius: var(--radius-sm);
  border: none;
  box-shadow: var(--shadow-sm);
  outline: none;
}

.input:focus {
  box-shadow: var(--shadow-md);
}

.input::placeholder {
  color: var(--color-lightgray);
}

.iconSearch {
  width: 1rem;
  height: 1rem;

  position: absolute;
  margin: 0.5rem 1rem;

  color: var(--color-lightgray);
  pointer-events: none;
}
