.overlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;

  background-color: var(--color-overlay);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  padding: 1.5rem;
  background-color: var(--color-white);
  min-width: 20rem;
  border-radius: var(--radius-md);
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(50%) translateY(-50%);
}

.bodyOverflow {
  overflow-y: hidden;
}
