.wrapper {
  position: relative;
  width: max-content;
}

.select {
  border: none;
  cursor: pointer;
  box-shadow: var(--shadow-sm);
  border-radius: var(--radius-sm);
  padding: 0.5rem 1rem;
  padding-right: 3rem;
  appearance: none;

  outline: none;
}

.select:focus {
  box-shadow: var(--shadow-md);
}

.arrow {
  position: absolute;
  pointer-events: none;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--color-gray);
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
}
